@font-face {
    font-family: 'TheFountainofWishes';
    src: url('/assets/fonts/TheFountainofWishes.ttf') format('truetype');
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #767676;
    font-family: 'TheFountainofWishes', serif;
    overflow: hidden
}

canvas {
    display: block;
}

#transition {
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: black;
    pointer-events: none;
}