html, body {
    margin: 0;
    padding: 0;
}
canvas {
    display: block;
}
#transition {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: black;
    pointer-events: none;
}